body { 
  font: 14px source sans, helvetica, arial, sans-serif;
  background: #131C25;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.graph {
	min-height: 900px;
  background: #1A2836;
  margin: auto;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #131C25;
  /* background-color: #d3d3ff; */
}

.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#243447 0,#243447 100%) !important;
    width:100%;
    position: fixed;
    font-weight: bolder;
}

.navbar-default, .navbar-brand {
  color: white !important;
}

.dropdown {
  color: white;
}

.nav {
  background-color: #243447 !important;
  border: none !important;
}

.nav-tabs {
  background-color: #1A2532 !important; 
}

.navbar-default {
  background-color: #243447 !important;
  border-color: #243447 !important;
}

#basic-nav-dropdown {
  color: #CACCCE;
}

#label {
  z-index: 1000;
  color: #268dcc;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-changes {
  /* background-color: blue !important; */
  width: 25%;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: white !important;
  border: none !important;
  background-color: #243447 !important;
}

.navbar {
  margin-bottom: 5px !important;
}

.full-width-container {
  position: absolute;
  width: 100%;
  left: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: #131C25 !important;
}