.active>th, .active>td {
  background-color: #1DA1F2 !important;
}

th {
	color: white;
}

#table {
	padding-right: 30px;
}

.active {
	font-weight: bold;
}

.non-active>a {
	color: #1DA1F2;
	font-weight: bold;
}

#data-row-even {
	cursor: pointer;
	color: white;
	font-weight: bold;
	background-color: #243447; 
}

#data-row-odd {
	cursor: pointer;
	color: white;
	font-weight: bold;
	background-color: #6B7D8C; 
}